<h1>Lists#index</h1>
<h3>Testing pictures</h3>
<%= cl_image_tag("vzp82y4wuuvzxechqddp", width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("vzp82y4wuuvzxechqddp", width: 150, height: 150, crop: :thumb, gravity: :face) %>

<h3>ALL MOVIE LISTS</h3>
<% @lists.each do |list| %>
  <div>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <!-- <%= cl_image_tag "ddxvkzmrlhtvjv0lmbvq", height: 300, width: 400, crop: :fill %> -->
      <%= cl_image_tag("ddxvkzmrlhtvjv0lmbvq", width: 400, height: 300, crop: :fill) %>
    <% end %>
  </div>
  <h4> <%= link_to list.name, list_path(list) %> </h4>
<% end %>

<%= link_to "add a new list", new_list_path %>
