<h1><%= @list.name %></h1>
<h2> THIS LISTS PHOTO </h2>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <!-- <%= cl_image_tag "ddxvkzmrlhtvjv0lmbvq", height: 300, width: 400, crop: :fill %> -->
  <%= cl_image_tag("ddxvkzmrlhtvjv0lmbvq", width: 400, height: 300, crop: :fill) %>
<% end %>

<p><strong>Movies</strong></p>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <li><%= bookmark.comment %></li>
    <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <% end %>
</ul>
<br>

<h4>Add a movie</h4>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>


<h4>Change the picture</h4>
<%= simple_form_for [@list] do |f|%>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>


<%= link_to "home", root_path %>
